:root {
  --color1: #0e8db4;
  --color2: #00a9bd;
  --color3: #00c3b4;
  --color4: #5ada9e;
  --color5: #a9ed83;
  --color6: #f9f871;

  --color7: #0e8db4;
  --color8: #3684bc;
  --color9: #5e77bb;
  --color10: #8268af;
  --color11: #9e5698;
  --color12: #af4679;

  --grad1: linear-gradient(
    135deg,
    rgba(14, 141, 180, 1) 33%,
    rgba(0, 195, 180, 1) 66%
  );

  --gradAlt: linear-gradient(
    135deg,
    rgba(14, 141, 180, 1) 33%,
    rgba(0, 169, 189, 1) 66%
  );

  --grad2: linear-gradient(
    135deg,
    rgba(90, 218, 158, 1) 33%,
    rgba(169, 237, 131, 1) 66%
  );

  --grad3: linear-gradient(
    135deg,
    rgba(158, 86, 152, 1) 10%,
    rgba(175, 70, 121, 1) 90%
  );
}

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gamebox {
  max-width: 90%;
  height: 90%;
  max-height: 90vw;
  aspect-ratio: 1/1;
  background-color: #242424;
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 18%;
  aspect-ratio: 1/1;
  background-color: #242424;
  perspective: 1000px;
  transform: translateX(1000px);
  opacity: 0;
  transition: 500ms;
  border-radius: 10px;
  color: antiquewhite;
  cursor: default;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-front {
  background: linear-gradient(
    135deg,
    rgba(14, 141, 180, 1) 33%,
    rgba(0, 169, 189, 1) 66%
  );
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  background: linear-gradient(
    135deg,
    rgba(158, 86, 152, 1) 33%,
    rgba(175, 70, 121, 1) 66%
  );
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card {
  transform: rotateY(180deg);
}

/* 
.card-container:hover .card-inner {
  transform: rotateY(180deg);
} */

.gameover {
  max-width: 97%;
  height: 97%;
  max-height: 95vw;
  aspect-ratio: 1/1;
  background-color: #ffca3a;
  border: solid 5px black;
  border-radius: 25px;
  transform: translateX(1000px);
  opacity: 0;
  transition: 500ms;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.textbox {
  font-size: 16px;
  color: black;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.showLose {
  transform: translateX(0);
  z-index: 3;
  display: flex;
}

.opacity {
  opacity: 1;
}

button {
  background-color: linear-gradient(
    135deg,
    rgba(90, 218, 158, 1) 33%,
    rgba(169, 237, 131, 1) 66%
  );
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  height: 18%;
  aspect-ratio: 1/1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tabs {
  font-size: 32px;
  color: black;
}

.blinking {
  animation: blinkingText 0.3s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.counterText {
  color: black;
}
